/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
  margin-top: 200px;

  font-family: "Noto Sans";
  font-weight: 400;
  color: #525252;

  background-image: linear-gradient(to bottom, #f9fafb, #d2d6db);
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 340px;
  padding: 24px;

  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 1px 2px -1px rgb(0 0 0 / 0.10),
              0px 1px 3px 0 rgb(0 0 0 / 0.10);
}

.testimonial-card__author {
  display: flex;
  align-items: center;
  gap: 16px;
}

.testimonial-card__author img {
  width: 48px;
  height: 48px;
}

.testimonial-card__author__info {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.testimonial-card__author__info__name {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #171717;
}

.testimonial-card__author__info__username {
  font-size: 14px;
  font-weight: 400;
}

.testimonial-card__quote {
  font-size: 16px;
  line-height: 24px;
}
